<template>
    <div class="skill-card">
      <div class="skill-item">
        <a :href="item.url"></a>
        <p>{{item.name}}</p>
        <img id="skill-image" v-bind:src="item.image"/>
      </div>
  </div>
</template>

<script>
export default {
  name: "Card2",
  props: {
    item: {
      required: true,
      type: Object
    }
  }
};
</script>

<style>
#card-parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /**左右両端のスペースを埋めて等間隔に配置 */
  font-family: "Avenir Next";
  font-size: 1rem;
}

.skill-card {
  width: 20%;
  text-align: center;
  margin-right: 5%;
  margin-bottom: 3%;
  box-shadow:rgba(72, 76, 89, 0.2) -2px 2px 4px 0px;
  background-color: #fff;
  cursor: pointer;
}

.skill-card img {
  width: 80%;
  padding-top: 0%;
}

.skill-item {
  position: relative;
  z-index: 1;
}

.skill-item a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-indent:-999px;
  z-index: 2;

}

.skill-item a:hover {
  opacity:0.3;
  animation: flash 1s ease infinite alternate;
}

.skill-item p {
  color: #2b546a;
  font-size: 130%;
  display: block;
  padding-top: 1em;
  margin-block-start: 0em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

/* アニメーション */
@keyframes flash {
	0% { background: #20b2aa; }
	50% { background: #96e9e6; }
	100% { background: #20b2aa; }
}
</style>