<template>
  <div>
    <h2 class="css-fade">
      <span class="midashi-title">{{midashi.title}}</span>
      <span >{{midashi.subTitle}}</span>
    </h2>
    <div id="card-parent">
      <Card v-for="skillItem in midashi.skillItems" :item="skillItem"/>
    </div>
  </div>
</template>

<script>
import Card from "./Card";
export default {
  name: "SkillType",
  props: {
    midashi: {
      default: '',
      type: Object,
      validator: prop => prop.hasOwnProperty('title')
    }
  }
};
</script>

<style>
.midashi-title {
  font-family: "Work Sans", sans-serif;
  text-transform: uppercase;
  font-size: 60px;
  font-weight: 700;
  padding-right: 20px;
}

.css-fade {
  /* アニメーション設定 */
  animation-name: side-fdin;
  animation-duration: 2s; /*アニメーション時間 */
  animation-timing-function: ease-out; /*アニメーションさせるイージング */
  animation-delay: 1s; /*アニメーション開始させる時間 */
  animation-iteration-count: 1; /*繰り返し回数 */
  animation-direction: normal; /*往復処理をするかどうか */
  animation-fill-mode: forwards; /*アニメーション後のスタイルをどうするか */
}
/* アニメーション */
@keyframes side-fdin {
  0% {
    opacity: 0;
    transform: translate3d(30px, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.css-fade span {
  padding-bottom: 20px;
  display: table-cell;
  vertical-align: middle;
}
</style>